@charset "utf-8";
/*
=========================================================================
Pax - Admin Dashboard
Version				1.1
Update Released		
=========================================================================
*/


/*
=========================================================================
BOOTSTRAP CUSTOM
=========================================================================
*/

/* Import font from Google Font (Open sans) */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/
textarea{resize:none;}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/** Body style reset **/
body{
	background: #fff;
	padding-top: 50px;
	margin: 0; -webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', Arial;
}

/** Heading style reset **/
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', Arial;}

/** Make container auto **/
.container{width: auto;}

/** Navbar style reset **/
blockquote.reply-message{
	font-size: 14px;
}
.modal{z-index: 9999996;}
.modal-backdrop {
  z-index: 9999995;
}
.navbar{
	margin: 0 0 0 -15px;
	z-index: 999993;
	border-radius: 0;
}
.navbar-collapse{
	padding:0;
	margin: 0;
}
.navbar-default {
	background-color: #fff;
	border: none;
}
.nav.navbar-nav.top-navbar li {position:relative;}
.nav.navbar-nav.top-navbar li a {
	cursor: pointer;
	color: #4C5264;
}
.nav.navbar-nav.top-navbar li span.absolute {
	position:absolute;
	top: 5px;
	left: 25px;
	border-radius: 10px;
	padding: 5px;
	z-index: 999;
}
.dropdown-menu{
	top: 97%;
	z-index: 999992;
}
.dropdown-menu.dropdown-message ul{white-space: inherit;}
.dropdown-menu.dropdown-message li a{
	word-wrap:normal|break-word;
	white-space: inherit;
	width: 300px;
	border-bottom: 1px solid #ddd;
}
.dropdown-menu.dropdown-message li.dropdown-footer a{
	  display: block;
	  padding: 10px 20px 6px;
	  font-size: 12px;
	  line-height: 1.428571429;
	  color: #999999;
	  border-top: 1px solid #ddd;
	  border-bottom: none;
}
.dropdown-menu.dropdown-message li:hover.dropdown-footer a{background: #fff;}
.dropdown-menu.dropdown-message li p{font-size: 11px;}
.dropdown-menu.dropdown-message li p i{color: #65BD77}
.dropdown-menu.dropdown-message .dropdown-message-scroll{padding: 0px;}
.dropdown-menu.dropdown-message .dropdown-message-scroll li{padding: 5px 20px;}
.dropdown-menu.dropdown-message .dropdown-message-scroll a,
.dropdown-menu.dropdown-message .dropdown-message-scroll strong{
	text-decoration: none;
	border-bottom: none;
}
.dropdown-menu.dropdown-message .dropdown-message-scroll .unread{background: #FFFCE0;}
.dropdown-menu.dropdown-message .dropdown-message-scroll a:hover{color: #000}
.dropdown-header.notif-header{
	font-size: 14px;
	padding: 5px 20px 3px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555555;
	background-color: #fafafa;
	border-bottom: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #555555;
	background-color: #fafafa;
}


/** Tables **/
.table > thead > tr > th {
	vertical-align: middle;
	border-bottom: 1px solid #dddddd;
}

/** Form **/
.form-control{
	font-size: 13px;
	border-radius: 0;
	border-color: #ddd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-control:focus {
	border-color: #dadada;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-group .checkbox{margin-left: 0; padding-left: 0;}

/** Button **/
.btn{border-radius: 2px;}


/** List group **/
.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

/** Alert **/
.alert {border-radius: 0px;}



/*
=========================================================================
BASIC SELECTOR
=========================================================================
*/

/* === MISC === */
span.new-circle {
	border-radius: 10px;
	padding: 2px 5px;
	font-weight: 400;
}
img.xs-avatar{
	width: 40px;
	padding: 3px;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0px 4px 0 0;
}
img.ava-dropdown{
	float: left;
	margin: 7px 10px 0 0;
}
i.i-xs{font-size: 10px;}
.clear{clear: both}

/** LOADING ANIMATION **/
#loading{
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 999999999;
	background:#fff;
}
.spinner {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  position: relative;
}
.cube1, .cube2 {
  background-color: #1B1E24;
  width: 7.5px;
  height: 7.5px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 2s infinite ease-in-out;
  animation: cubemove 2s infinite ease-in-out;
}
.cube2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
@keyframes cubemove {
  25% { 
    transform: translateX(24px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(24px) translateY(24px) rotate(-179deg);
    -webkit-transform: translateX(24px) translateY(24px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(24px) translateY(24px) rotate(-180deg);
    -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.loading-inner{
	position: absolute;
	top: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
}


/* === MASTER PAGE SELECTORS === */
.page {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.rows, .col, .page {
	overflow: hidden;
	position: absolute;
}
.rows {
	left: 0;
	right: 0;
}
.rows-content-header {
	left: 0;
	right: 0;
	position: absolute;
}
.col {top: 0; bottom: 0;}
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%
}
.pane { display: none; }

/* === RIGHT COLUMN (CONTENT) === */
.right{
	left: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
}

/* === RIGHT COLUMN (CONTENT HEADER / NAV) === */
.header.rows { height: 50px;}
.header.rows-content-header { height: 50px;}
.header.content{background: #FFFFFF; border-bottom: 1px solid #E5E9EC}

/* === RIGHT COLUMN (CONTENT BODY) === */
.body.rows {
	top: 50px;
	bottom: 50px;
}
.body.content.rows {
	top: 50px;
	bottom: 0px;
	background: #f9f9f9;
	padding: 20px;
	font-size: 13px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.button-menu-mobile{
	display: none;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 99999;
	padding: 10px 15px;
	height: 50px;
	font-size: 14px;
	background: #1B1E24;
	color: #A5B2BC;
	border: none;
}
footer{
	padding: 20px 0;
	font-size: 12px;
	border-top: 1px solid #B9C1CB;
	margin-top: 40px;
}

/* === RIGHT COLUMN (PAGE HADING / PAGE TITLE) === */
.page-heading{
	margin: 0px 0 25px;
	padding: 5px 0;
}
.page-heading h1{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 24px;
}
.margin-b10{ margin-bottom:10px;}
/*logo*/
.logo{ padding:0; line-height:45px; margin:0 20px;}