<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zucc.web.dao.ICouponMapper" >
  <resultMap id="BaseResultMap" type="org.zucc.web.entity.ICoupon" >
    <id column="couponId" property="couponid" jdbcType="BIGINT" />
    <result column="couponMoney" property="couponmoney" jdbcType="DOUBLE" />
    <result column="couponEndDate" property="couponenddate" jdbcType="DATE" />
    <result column="coupon_userId" property="couponUserid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    couponId, couponMoney, couponEndDate, coupon_userId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zucc.web.entity.ICouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from i_coupon
    where couponId = #{couponid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from i_coupon
    where couponId = #{couponid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zucc.web.entity.ICouponExample" >
    delete from i_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zucc.web.entity.ICoupon" >
    insert into i_coupon (couponId, couponMoney, couponEndDate, 
      coupon_userId)
    values (#{couponid,jdbcType=BIGINT}, #{couponmoney,jdbcType=DOUBLE}, #{couponenddate,jdbcType=DATE}, 
      #{couponUserid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.zucc.web.entity.ICoupon" >
    insert into i_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponid != null" >
        couponId,
      </if>
      <if test="couponmoney != null" >
        couponMoney,
      </if>
      <if test="couponenddate != null" >
        couponEndDate,
      </if>
      <if test="couponUserid != null" >
        coupon_userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponid != null" >
        #{couponid,jdbcType=BIGINT},
      </if>
      <if test="couponmoney != null" >
        #{couponmoney,jdbcType=DOUBLE},
      </if>
      <if test="couponenddate != null" >
        #{couponenddate,jdbcType=DATE},
      </if>
      <if test="couponUserid != null" >
        #{couponUserid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zucc.web.entity.ICouponExample" resultType="java.lang.Integer" >
    select count(*) from i_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_coupon
    <set >
      <if test="record.couponid != null" >
        couponId = #{record.couponid,jdbcType=BIGINT},
      </if>
      <if test="record.couponmoney != null" >
        couponMoney = #{record.couponmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.couponenddate != null" >
        couponEndDate = #{record.couponenddate,jdbcType=DATE},
      </if>
      <if test="record.couponUserid != null" >
        coupon_userId = #{record.couponUserid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_coupon
    set couponId = #{record.couponid,jdbcType=BIGINT},
      couponMoney = #{record.couponmoney,jdbcType=DOUBLE},
      couponEndDate = #{record.couponenddate,jdbcType=DATE},
      coupon_userId = #{record.couponUserid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zucc.web.entity.ICoupon" >
    update i_coupon
    <set >
      <if test="couponmoney != null" >
        couponMoney = #{couponmoney,jdbcType=DOUBLE},
      </if>
      <if test="couponenddate != null" >
        couponEndDate = #{couponenddate,jdbcType=DATE},
      </if>
      <if test="couponUserid != null" >
        coupon_userId = #{couponUserid,jdbcType=BIGINT},
      </if>
    </set>
    where couponId = #{couponid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zucc.web.entity.ICoupon" >
    update i_coupon
    set couponMoney = #{couponmoney,jdbcType=DOUBLE},
      couponEndDate = #{couponenddate,jdbcType=DATE},
      coupon_userId = #{couponUserid,jdbcType=BIGINT}
    where couponId = #{couponid,jdbcType=BIGINT}
  </update>
</mapper>