<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zucc.web.dao.IAccountMapper" >
  <resultMap id="BaseResultMap" type="org.zucc.web.entity.IAccount" >
    <id column="aid" property="aid" jdbcType="BIGINT" />
    <result column="a_userId" property="aUserid" jdbcType="BIGINT" />
    <result column="a_money" property="aMoney" jdbcType="DOUBLE" />
    <result column="a_reward_money" property="aRewardMoney" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, a_userId, a_money, a_reward_money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zucc.web.entity.IAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from i_account
    where aid = #{aid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from i_account
    where aid = #{aid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zucc.web.entity.IAccountExample" >
    delete from i_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zucc.web.entity.IAccount" >
    insert into i_account (aid, a_userId, a_money, 
      a_reward_money)
    values (#{aid,jdbcType=BIGINT}, #{aUserid,jdbcType=BIGINT}, #{aMoney,jdbcType=DOUBLE}, 
      #{aRewardMoney,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="org.zucc.web.entity.IAccount" >
    insert into i_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="aUserid != null" >
        a_userId,
      </if>
      <if test="aMoney != null" >
        a_money,
      </if>
      <if test="aRewardMoney != null" >
        a_reward_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="aUserid != null" >
        #{aUserid,jdbcType=BIGINT},
      </if>
      <if test="aMoney != null" >
        #{aMoney,jdbcType=DOUBLE},
      </if>
      <if test="aRewardMoney != null" >
        #{aRewardMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zucc.web.entity.IAccountExample" resultType="java.lang.Integer" >
    select count(*) from i_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_account
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=BIGINT},
      </if>
      <if test="record.aUserid != null" >
        a_userId = #{record.aUserid,jdbcType=BIGINT},
      </if>
      <if test="record.aMoney != null" >
        a_money = #{record.aMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.aRewardMoney != null" >
        a_reward_money = #{record.aRewardMoney,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_account
    set aid = #{record.aid,jdbcType=BIGINT},
      a_userId = #{record.aUserid,jdbcType=BIGINT},
      a_money = #{record.aMoney,jdbcType=DOUBLE},
      a_reward_money = #{record.aRewardMoney,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zucc.web.entity.IAccount" >
    update i_account
    <set >
      <if test="aUserid != null" >
        a_userId = #{aUserid,jdbcType=BIGINT},
      </if>
      <if test="aMoney != null" >
        a_money = #{aMoney,jdbcType=DOUBLE},
      </if>
      <if test="aRewardMoney != null" >
        a_reward_money = #{aRewardMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where aid = #{aid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zucc.web.entity.IAccount" >
    update i_account
    set a_userId = #{aUserid,jdbcType=BIGINT},
      a_money = #{aMoney,jdbcType=DOUBLE},
      a_reward_money = #{aRewardMoney,jdbcType=DOUBLE}
    where aid = #{aid,jdbcType=BIGINT}
  </update>
</mapper>