<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zucc.web.dao.ICourseMapper" >
  <resultMap id="BaseResultMap" type="org.zucc.web.entity.ICourse" >
    <id column="c_cid" property="cCid" jdbcType="BIGINT" />
    <result column="c_cname" property="cCname" jdbcType="VARCHAR" />
    <result column="c_price" property="cPrice" jdbcType="DOUBLE" />
    <result column="c_address" property="cAddress" jdbcType="VARCHAR" />
    <result column="c_collection" property="cCollection" jdbcType="INTEGER" />
    <result column="c_teacherId" property="cTeacherid" jdbcType="BIGINT" />
    <result column="c_description" property="cDescription" jdbcType="VARCHAR" />
    <result column="c_simple_description" property="cSimpleDescription" jdbcType="VARCHAR" />
    <result column="c_courseMinNum" property="cCourseminnum" jdbcType="INTEGER" />
    <result column="c_courseMaxNum" property="cCoursemaxnum" jdbcType="INTEGER" />
    <result column="c_courseNum" property="cCoursenum" jdbcType="INTEGER" />
    <result column="c_startTime" property="cStarttime" jdbcType="TIMESTAMP" />
    <result column="c_endTime" property="cEndtime" jdbcType="TIMESTAMP" />
    <result column="c_thumbnail" property="cThumbnail" jdbcType="VARCHAR" />
    <result column="c_imageOne" property="cImageone" jdbcType="VARCHAR" />
    <result column="c_imageTwo" property="cImagetwo" jdbcType="VARCHAR" />
    <result column="c_imageThree" property="cImagethree" jdbcType="VARCHAR" />
    <result column="c_userId" property="cUserid" jdbcType="BIGINT" />
    <result column="c_classroom_id" property="cClassroomId" jdbcType="BIGINT" />
    <result column="c_coursetype_id" property="cCoursetypeId" jdbcType="BIGINT" />
    <result column="c_classStartDate" property="cClassstartdate" jdbcType="DATE" />
    <result column="c_classEndDate" property="cClassenddate" jdbcType="DATE" />
    <result column="c_classStartTime" property="cClassstarttime" jdbcType="TIMESTAMP" />
    <result column="c_classEndTime" property="cClassendtime" jdbcType="TIMESTAMP" />
    <result column="c_recommend" property="cRecommend" jdbcType="BIT" />
    <result column="c_schedule" property="cSchedule" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_cid, c_cname, c_price, c_address, c_collection, c_teacherId, c_description, c_simple_description, 
    c_courseMinNum, c_courseMaxNum, c_courseNum, c_startTime, c_endTime, c_thumbnail, 
    c_imageOne, c_imageTwo, c_imageThree, c_userId, c_classroom_id, c_coursetype_id, 
    c_classStartDate, c_classEndDate, c_classStartTime, c_classEndTime, c_recommend, 
    c_schedule
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zucc.web.entity.ICourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from i_course
    where c_cid = #{cCid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from i_course
    where c_cid = #{cCid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zucc.web.entity.ICourseExample" >
    delete from i_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zucc.web.entity.ICourse" >
    insert into i_course (c_cid, c_cname, c_price, 
      c_address, c_collection, c_teacherId, 
      c_description, c_simple_description, c_courseMinNum, 
      c_courseMaxNum, c_courseNum, c_startTime, 
      c_endTime, c_thumbnail, c_imageOne, 
      c_imageTwo, c_imageThree, c_userId, 
      c_classroom_id, c_coursetype_id, c_classStartDate, 
      c_classEndDate, c_classStartTime, c_classEndTime, 
      c_recommend, c_schedule)
    values (#{cCid,jdbcType=BIGINT}, #{cCname,jdbcType=VARCHAR}, #{cPrice,jdbcType=DOUBLE}, 
      #{cAddress,jdbcType=VARCHAR}, #{cCollection,jdbcType=INTEGER}, #{cTeacherid,jdbcType=BIGINT}, 
      #{cDescription,jdbcType=VARCHAR}, #{cSimpleDescription,jdbcType=VARCHAR}, #{cCourseminnum,jdbcType=INTEGER}, 
      #{cCoursemaxnum,jdbcType=INTEGER}, #{cCoursenum,jdbcType=INTEGER}, #{cStarttime,jdbcType=TIMESTAMP}, 
      #{cEndtime,jdbcType=TIMESTAMP}, #{cThumbnail,jdbcType=VARCHAR}, #{cImageone,jdbcType=VARCHAR}, 
      #{cImagetwo,jdbcType=VARCHAR}, #{cImagethree,jdbcType=VARCHAR}, #{cUserid,jdbcType=BIGINT}, 
      #{cClassroomId,jdbcType=BIGINT}, #{cCoursetypeId,jdbcType=BIGINT}, #{cClassstartdate,jdbcType=DATE}, 
      #{cClassenddate,jdbcType=DATE}, #{cClassstarttime,jdbcType=TIMESTAMP}, #{cClassendtime,jdbcType=TIMESTAMP}, 
      #{cRecommend,jdbcType=BIT}, #{cSchedule,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.zucc.web.entity.ICourse" >
    insert into i_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cCid != null" >
        c_cid,
      </if>
      <if test="cCname != null" >
        c_cname,
      </if>
      <if test="cPrice != null" >
        c_price,
      </if>
      <if test="cAddress != null" >
        c_address,
      </if>
      <if test="cCollection != null" >
        c_collection,
      </if>
      <if test="cTeacherid != null" >
        c_teacherId,
      </if>
      <if test="cDescription != null" >
        c_description,
      </if>
      <if test="cSimpleDescription != null" >
        c_simple_description,
      </if>
      <if test="cCourseminnum != null" >
        c_courseMinNum,
      </if>
      <if test="cCoursemaxnum != null" >
        c_courseMaxNum,
      </if>
      <if test="cCoursenum != null" >
        c_courseNum,
      </if>
      <if test="cStarttime != null" >
        c_startTime,
      </if>
      <if test="cEndtime != null" >
        c_endTime,
      </if>
      <if test="cThumbnail != null" >
        c_thumbnail,
      </if>
      <if test="cImageone != null" >
        c_imageOne,
      </if>
      <if test="cImagetwo != null" >
        c_imageTwo,
      </if>
      <if test="cImagethree != null" >
        c_imageThree,
      </if>
      <if test="cUserid != null" >
        c_userId,
      </if>
      <if test="cClassroomId != null" >
        c_classroom_id,
      </if>
      <if test="cCoursetypeId != null" >
        c_coursetype_id,
      </if>
      <if test="cClassstartdate != null" >
        c_classStartDate,
      </if>
      <if test="cClassenddate != null" >
        c_classEndDate,
      </if>
      <if test="cClassstarttime != null" >
        c_classStartTime,
      </if>
      <if test="cClassendtime != null" >
        c_classEndTime,
      </if>
      <if test="cRecommend != null" >
        c_recommend,
      </if>
      <if test="cSchedule != null" >
        c_schedule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cCid != null" >
        #{cCid,jdbcType=BIGINT},
      </if>
      <if test="cCname != null" >
        #{cCname,jdbcType=VARCHAR},
      </if>
      <if test="cPrice != null" >
        #{cPrice,jdbcType=DOUBLE},
      </if>
      <if test="cAddress != null" >
        #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cCollection != null" >
        #{cCollection,jdbcType=INTEGER},
      </if>
      <if test="cTeacherid != null" >
        #{cTeacherid,jdbcType=BIGINT},
      </if>
      <if test="cDescription != null" >
        #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="cSimpleDescription != null" >
        #{cSimpleDescription,jdbcType=VARCHAR},
      </if>
      <if test="cCourseminnum != null" >
        #{cCourseminnum,jdbcType=INTEGER},
      </if>
      <if test="cCoursemaxnum != null" >
        #{cCoursemaxnum,jdbcType=INTEGER},
      </if>
      <if test="cCoursenum != null" >
        #{cCoursenum,jdbcType=INTEGER},
      </if>
      <if test="cStarttime != null" >
        #{cStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="cEndtime != null" >
        #{cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cThumbnail != null" >
        #{cThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="cImageone != null" >
        #{cImageone,jdbcType=VARCHAR},
      </if>
      <if test="cImagetwo != null" >
        #{cImagetwo,jdbcType=VARCHAR},
      </if>
      <if test="cImagethree != null" >
        #{cImagethree,jdbcType=VARCHAR},
      </if>
      <if test="cUserid != null" >
        #{cUserid,jdbcType=BIGINT},
      </if>
      <if test="cClassroomId != null" >
        #{cClassroomId,jdbcType=BIGINT},
      </if>
      <if test="cCoursetypeId != null" >
        #{cCoursetypeId,jdbcType=BIGINT},
      </if>
      <if test="cClassstartdate != null" >
        #{cClassstartdate,jdbcType=DATE},
      </if>
      <if test="cClassenddate != null" >
        #{cClassenddate,jdbcType=DATE},
      </if>
      <if test="cClassstarttime != null" >
        #{cClassstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="cClassendtime != null" >
        #{cClassendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cRecommend != null" >
        #{cRecommend,jdbcType=BIT},
      </if>
      <if test="cSchedule != null" >
        #{cSchedule,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zucc.web.entity.ICourseExample" resultType="java.lang.Integer" >
    select count(*) from i_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_course
    <set >
      <if test="record.cCid != null" >
        c_cid = #{record.cCid,jdbcType=BIGINT},
      </if>
      <if test="record.cCname != null" >
        c_cname = #{record.cCname,jdbcType=VARCHAR},
      </if>
      <if test="record.cPrice != null" >
        c_price = #{record.cPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.cAddress != null" >
        c_address = #{record.cAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cCollection != null" >
        c_collection = #{record.cCollection,jdbcType=INTEGER},
      </if>
      <if test="record.cTeacherid != null" >
        c_teacherId = #{record.cTeacherid,jdbcType=BIGINT},
      </if>
      <if test="record.cDescription != null" >
        c_description = #{record.cDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.cSimpleDescription != null" >
        c_simple_description = #{record.cSimpleDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.cCourseminnum != null" >
        c_courseMinNum = #{record.cCourseminnum,jdbcType=INTEGER},
      </if>
      <if test="record.cCoursemaxnum != null" >
        c_courseMaxNum = #{record.cCoursemaxnum,jdbcType=INTEGER},
      </if>
      <if test="record.cCoursenum != null" >
        c_courseNum = #{record.cCoursenum,jdbcType=INTEGER},
      </if>
      <if test="record.cStarttime != null" >
        c_startTime = #{record.cStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cEndtime != null" >
        c_endTime = #{record.cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cThumbnail != null" >
        c_thumbnail = #{record.cThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.cImageone != null" >
        c_imageOne = #{record.cImageone,jdbcType=VARCHAR},
      </if>
      <if test="record.cImagetwo != null" >
        c_imageTwo = #{record.cImagetwo,jdbcType=VARCHAR},
      </if>
      <if test="record.cImagethree != null" >
        c_imageThree = #{record.cImagethree,jdbcType=VARCHAR},
      </if>
      <if test="record.cUserid != null" >
        c_userId = #{record.cUserid,jdbcType=BIGINT},
      </if>
      <if test="record.cClassroomId != null" >
        c_classroom_id = #{record.cClassroomId,jdbcType=BIGINT},
      </if>
      <if test="record.cCoursetypeId != null" >
        c_coursetype_id = #{record.cCoursetypeId,jdbcType=BIGINT},
      </if>
      <if test="record.cClassstartdate != null" >
        c_classStartDate = #{record.cClassstartdate,jdbcType=DATE},
      </if>
      <if test="record.cClassenddate != null" >
        c_classEndDate = #{record.cClassenddate,jdbcType=DATE},
      </if>
      <if test="record.cClassstarttime != null" >
        c_classStartTime = #{record.cClassstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cClassendtime != null" >
        c_classEndTime = #{record.cClassendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cRecommend != null" >
        c_recommend = #{record.cRecommend,jdbcType=BIT},
      </if>
      <if test="record.cSchedule != null" >
        c_schedule = #{record.cSchedule,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_course
    set c_cid = #{record.cCid,jdbcType=BIGINT},
      c_cname = #{record.cCname,jdbcType=VARCHAR},
      c_price = #{record.cPrice,jdbcType=DOUBLE},
      c_address = #{record.cAddress,jdbcType=VARCHAR},
      c_collection = #{record.cCollection,jdbcType=INTEGER},
      c_teacherId = #{record.cTeacherid,jdbcType=BIGINT},
      c_description = #{record.cDescription,jdbcType=VARCHAR},
      c_simple_description = #{record.cSimpleDescription,jdbcType=VARCHAR},
      c_courseMinNum = #{record.cCourseminnum,jdbcType=INTEGER},
      c_courseMaxNum = #{record.cCoursemaxnum,jdbcType=INTEGER},
      c_courseNum = #{record.cCoursenum,jdbcType=INTEGER},
      c_startTime = #{record.cStarttime,jdbcType=TIMESTAMP},
      c_endTime = #{record.cEndtime,jdbcType=TIMESTAMP},
      c_thumbnail = #{record.cThumbnail,jdbcType=VARCHAR},
      c_imageOne = #{record.cImageone,jdbcType=VARCHAR},
      c_imageTwo = #{record.cImagetwo,jdbcType=VARCHAR},
      c_imageThree = #{record.cImagethree,jdbcType=VARCHAR},
      c_userId = #{record.cUserid,jdbcType=BIGINT},
      c_classroom_id = #{record.cClassroomId,jdbcType=BIGINT},
      c_coursetype_id = #{record.cCoursetypeId,jdbcType=BIGINT},
      c_classStartDate = #{record.cClassstartdate,jdbcType=DATE},
      c_classEndDate = #{record.cClassenddate,jdbcType=DATE},
      c_classStartTime = #{record.cClassstarttime,jdbcType=TIMESTAMP},
      c_classEndTime = #{record.cClassendtime,jdbcType=TIMESTAMP},
      c_recommend = #{record.cRecommend,jdbcType=BIT},
      c_schedule = #{record.cSchedule,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zucc.web.entity.ICourse" >
    update i_course
    <set >
      <if test="cCname != null" >
        c_cname = #{cCname,jdbcType=VARCHAR},
      </if>
      <if test="cPrice != null" >
        c_price = #{cPrice,jdbcType=DOUBLE},
      </if>
      <if test="cAddress != null" >
        c_address = #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cCollection != null" >
        c_collection = #{cCollection,jdbcType=INTEGER},
      </if>
      <if test="cTeacherid != null" >
        c_teacherId = #{cTeacherid,jdbcType=BIGINT},
      </if>
      <if test="cDescription != null" >
        c_description = #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="cSimpleDescription != null" >
        c_simple_description = #{cSimpleDescription,jdbcType=VARCHAR},
      </if>
      <if test="cCourseminnum != null" >
        c_courseMinNum = #{cCourseminnum,jdbcType=INTEGER},
      </if>
      <if test="cCoursemaxnum != null" >
        c_courseMaxNum = #{cCoursemaxnum,jdbcType=INTEGER},
      </if>
      <if test="cCoursenum != null" >
        c_courseNum = #{cCoursenum,jdbcType=INTEGER},
      </if>
      <if test="cStarttime != null" >
        c_startTime = #{cStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="cEndtime != null" >
        c_endTime = #{cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cThumbnail != null" >
        c_thumbnail = #{cThumbnail,jdbcType=VARCHAR},
      </if>
      <if test="cImageone != null" >
        c_imageOne = #{cImageone,jdbcType=VARCHAR},
      </if>
      <if test="cImagetwo != null" >
        c_imageTwo = #{cImagetwo,jdbcType=VARCHAR},
      </if>
      <if test="cImagethree != null" >
        c_imageThree = #{cImagethree,jdbcType=VARCHAR},
      </if>
      <if test="cUserid != null" >
        c_userId = #{cUserid,jdbcType=BIGINT},
      </if>
      <if test="cClassroomId != null" >
        c_classroom_id = #{cClassroomId,jdbcType=BIGINT},
      </if>
      <if test="cCoursetypeId != null" >
        c_coursetype_id = #{cCoursetypeId,jdbcType=BIGINT},
      </if>
      <if test="cClassstartdate != null" >
        c_classStartDate = #{cClassstartdate,jdbcType=DATE},
      </if>
      <if test="cClassenddate != null" >
        c_classEndDate = #{cClassenddate,jdbcType=DATE},
      </if>
      <if test="cClassstarttime != null" >
        c_classStartTime = #{cClassstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="cClassendtime != null" >
        c_classEndTime = #{cClassendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cRecommend != null" >
        c_recommend = #{cRecommend,jdbcType=BIT},
      </if>
      <if test="cSchedule != null" >
        c_schedule = #{cSchedule,jdbcType=BIT},
      </if>
    </set>
    where c_cid = #{cCid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zucc.web.entity.ICourse" >
    update i_course
    set c_cname = #{cCname,jdbcType=VARCHAR},
      c_price = #{cPrice,jdbcType=DOUBLE},
      c_address = #{cAddress,jdbcType=VARCHAR},
      c_collection = #{cCollection,jdbcType=INTEGER},
      c_teacherId = #{cTeacherid,jdbcType=BIGINT},
      c_description = #{cDescription,jdbcType=VARCHAR},
      c_simple_description = #{cSimpleDescription,jdbcType=VARCHAR},
      c_courseMinNum = #{cCourseminnum,jdbcType=INTEGER},
      c_courseMaxNum = #{cCoursemaxnum,jdbcType=INTEGER},
      c_courseNum = #{cCoursenum,jdbcType=INTEGER},
      c_startTime = #{cStarttime,jdbcType=TIMESTAMP},
      c_endTime = #{cEndtime,jdbcType=TIMESTAMP},
      c_thumbnail = #{cThumbnail,jdbcType=VARCHAR},
      c_imageOne = #{cImageone,jdbcType=VARCHAR},
      c_imageTwo = #{cImagetwo,jdbcType=VARCHAR},
      c_imageThree = #{cImagethree,jdbcType=VARCHAR},
      c_userId = #{cUserid,jdbcType=BIGINT},
      c_classroom_id = #{cClassroomId,jdbcType=BIGINT},
      c_coursetype_id = #{cCoursetypeId,jdbcType=BIGINT},
      c_classStartDate = #{cClassstartdate,jdbcType=DATE},
      c_classEndDate = #{cClassenddate,jdbcType=DATE},
      c_classStartTime = #{cClassstarttime,jdbcType=TIMESTAMP},
      c_classEndTime = #{cClassendtime,jdbcType=TIMESTAMP},
      c_recommend = #{cRecommend,jdbcType=BIT},
      c_schedule = #{cSchedule,jdbcType=BIT}
    where c_cid = #{cCid,jdbcType=BIGINT}
  </update>
</mapper>