<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zucc.web.dao.IHrMapper" >
  <resultMap id="BaseResultMap" type="org.zucc.web.entity.IHr" >
    <id column="hrId" property="hrid" jdbcType="BIGINT" />
    <result column="h_userId" property="hUserid" jdbcType="BIGINT" />
    <result column="h_companyId" property="hCompanyid" jdbcType="BIGINT" />
    <result column="h_position" property="hPosition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hrId, h_userId, h_companyId, h_position
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zucc.web.entity.IHrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_hr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from i_hr
    where hrId = #{hrid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from i_hr
    where hrId = #{hrid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.zucc.web.entity.IHrExample" >
    delete from i_hr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zucc.web.entity.IHr" >
    insert into i_hr (hrId, h_userId, h_companyId, 
      h_position)
    values (#{hrid,jdbcType=BIGINT}, #{hUserid,jdbcType=BIGINT}, #{hCompanyid,jdbcType=BIGINT}, 
      #{hPosition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zucc.web.entity.IHr" >
    insert into i_hr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hrid != null" >
        hrId,
      </if>
      <if test="hUserid != null" >
        h_userId,
      </if>
      <if test="hCompanyid != null" >
        h_companyId,
      </if>
      <if test="hPosition != null" >
        h_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hrid != null" >
        #{hrid,jdbcType=BIGINT},
      </if>
      <if test="hUserid != null" >
        #{hUserid,jdbcType=BIGINT},
      </if>
      <if test="hCompanyid != null" >
        #{hCompanyid,jdbcType=BIGINT},
      </if>
      <if test="hPosition != null" >
        #{hPosition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zucc.web.entity.IHrExample" resultType="java.lang.Integer" >
    select count(*) from i_hr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_hr
    <set >
      <if test="record.hrid != null" >
        hrId = #{record.hrid,jdbcType=BIGINT},
      </if>
      <if test="record.hUserid != null" >
        h_userId = #{record.hUserid,jdbcType=BIGINT},
      </if>
      <if test="record.hCompanyid != null" >
        h_companyId = #{record.hCompanyid,jdbcType=BIGINT},
      </if>
      <if test="record.hPosition != null" >
        h_position = #{record.hPosition,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_hr
    set hrId = #{record.hrid,jdbcType=BIGINT},
      h_userId = #{record.hUserid,jdbcType=BIGINT},
      h_companyId = #{record.hCompanyid,jdbcType=BIGINT},
      h_position = #{record.hPosition,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zucc.web.entity.IHr" >
    update i_hr
    <set >
      <if test="hUserid != null" >
        h_userId = #{hUserid,jdbcType=BIGINT},
      </if>
      <if test="hCompanyid != null" >
        h_companyId = #{hCompanyid,jdbcType=BIGINT},
      </if>
      <if test="hPosition != null" >
        h_position = #{hPosition,jdbcType=VARCHAR},
      </if>
    </set>
    where hrId = #{hrid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zucc.web.entity.IHr" >
    update i_hr
    set h_userId = #{hUserid,jdbcType=BIGINT},
      h_companyId = #{hCompanyid,jdbcType=BIGINT},
      h_position = #{hPosition,jdbcType=VARCHAR}
    where hrId = #{hrid,jdbcType=BIGINT}
  </update>
</mapper>